:root {
  --demo-control-bkg: rgb(20, 157, 167);
  --demo-control-border-radius: 8px;
}
.demo__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}
.demo__control__element {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
body {
  height: 100vh;
  background: var(--app-principal-bkg-color);
}
.demo__control {
  border: 2px solid var(--demo-control-bkg);
  width: fit-content;
  border-radius: var(--demo-control-border-radius);
  overflow: hidden;
  width: 100%;
}
.demo__control__source {
  display: none;
}
.show__result__btn {
  display: none !important;
}
.demo__control.show-code :is(.demo__control__source, .show__result__btn) {
  display: block !important;
}
.demo__control.show-code :is(.demo__control__element, .show__code__btn) {
  display: none !important;
}
.demo__control__header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--demo-control-bkg);
  color: white;
  font-weight: bold;
  padding: 0 1em;
  padding: 0.25em 0.5em;
}
.demo__control__header__action-buttons {
  display: flex;
  gap: 10px;
}
.demo__control__element {
  padding: 1em;
}
.demo__control__source pre {
}
