.ligth__theme {
  /*Layout*/
  --app-principal-bkg-color: rgb(241, 241, 241);
  /*Primary Setup*/
  --primary-color: rgb(0, 145, 133);
  --primary-color-values: 0, 255, 234;
  --primary-color-contrast-color: white;

  /*Secondary Setup*/
  --secondary-color: rgb(0, 116, 145);
  --secondary-color-values: 0, 116, 145;
  --secondary-color-contrast-color: white;

  /*Third Setup*/
  --third-color: rgb(0, 162, 255);
  --third-color-contrast-color: white;
  --third-color-values: 0, 162, 255;

  /*Warn Setup*/
  --warn-color: rgb(255, 145, 0);
  --warn-color-contrast-color: white;
  --warn-color-values: 255, 145, 0;

  /*Text*/
  --principal-text-color: black;

  /*Shadows And effects*/
  --first-shadow-color: rgb(0 0 0 / 20%);
  --second-shadow-color: rgb(0 0 0 / 14%);
  --third-shadow-color: rgb(0 0 0 / 12%);
}
